.about {
    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 120px;
    }
    &__mobile-title {
        display: none;
    }
    &__photo {
        max-width: 576px;
    }
    .img__wrap {
        position: relative;
    }
    .img__wrap:after {
        content: '<img src="me.png">';
        position: absolute;
        top: 50px;
        left: -50px;
        font-family: 'Sniglet', sans-serif;
        font-weight: 400;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: $dark;
        background: transparent;
        text-shadow: 0px 4px 20px rgba(249, 105, 25, 0.55);
        transform: rotate(-5.59deg);
    }
    &__text {
        text-align: center;
    }
    &__title {
        justify-content: center;
    }
    &__descr {
        max-width: 650px;
        padding-top: 35px;
        letter-spacing: 0.015em;
        font-weight: 400;
        font-size: 24px;
        color: $text;
    }
}

@media (max-width: 1680px) {
    .about {
        &__wrap {
            gap: 90px;
        }
        &__photo {
            max-width: 498px;
        }
        &__descr {
            max-width: 600px;
            font-size: 22px;
        }
        .img__wrap::after {
            top: 55px;
            right: -40px;
            font-size: 32px;
        }
    }
}

@media (max-width: 1400px) {
    .about {
        &__wrap {
            gap: 60px;
        }
        &__photo {
            max-width: 448px;
        }
        &__descr {
            max-width: 550px;
            padding-top: 20px;
            font-size: 20px;
        }
        .img__wrap::after {
            top: 55px;
            right: -40px;
            font-size: 28px;
        }
    }
}

@media (max-width: 1170px) {
    .about {
        &__wrap {
            gap: 40px;
        }
        &__photo {
            max-width: 398px;
        }
        &__descr {
            max-width: 500px;
            font-size: 18px;
        }
        .img__wrap::after {
            content: '';
        }
    }
}

@media (max-width: 992px) {
    .about {
        &__wrap {
            margin-top: 50px;
            flex-direction: column;
            gap: 20px;
        }
        &__photo {
            max-width: 398px;
        }
        &__title {
           display: none;
        }
        &__mobile-title {
            display: flex;
            justify-content: flex-start;
        }
        &__descr {
            padding-top: 0;
            max-width: 550px;
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__wrap {
            margin-top: 40px;
        }
        &__photo {
            max-width: 324px;
        }
        &__descr {
            max-width: 500px;
            font-size: 18px;
        }
    }
}

@media (max-width: 576px) {
    .about {
        &__photo {
            max-width: 278px;
        }
        &__descr {
            max-width: 500px;
            font-size: 18px;
        }
    }
}

@media (max-width: 480px) {
    .about {
        &__photo {
            max-width: 224px;
        }
        &__descr {
            max-width: 100%;
            font-size: 16px;
        }
    }
}