.hero {
    position: relative;
    height: auto;
    background-image: url('../img/hero-bg.webp');
    background-repeat: no-repeat;
    background-position: right top -20px;
    background-size: 1050px;
    padding-bottom: 100px;
    .container {
        padding-top: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        pointer-events: none;
        width: 750px;
    }
    &__title {
        font-weight: 700;
        font-size: 56px;
        color: $dark;
    }
    &__descr {
        padding-top: 50px;
        max-width: 600px;
        font-weight: 400;
        line-height: 125%;
        font-size: 28px;
        color: $dark;
    }
    &__btn {
        margin-top: 200px;
        background: linear-gradient(90deg, #F5F7FA 0%, #C3CFE2 100%);
        border-radius: 5px;
        cursor: pointer;
        transition: transform .2s linear,
        color .2s linear,
        background .25s linear;
        >span {
            font-weight: 500;
            font-size: 28px;
            color: $dark;
            font-family: 'Ubuntu';
            display: inline-block;
            position: relative;
            z-index: 2;
            transition: transform .25s linear;
        }
        padding: 28px 68px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__arrow {
        position: absolute;
        bottom: 5%;
        right: 8%;
        cursor: pointer;
        opacity: 1;
        animation: hope 4s;
        transform: translateY(0px);
        animation-iteration-count: infinite;
        transition: all .3s;
        img {
            width: 64px;
        }
    }
    &__arrow:hover {
        opacity: 0.8;
    }
}

@media (max-width: 1680px) {
    .hero {
        padding-bottom: 80px;
        background-size: 780px;
        background-position: right top 30px;
        .container {
            padding-top: 190px;
        }
        &__img {
            max-width: 525px;
        }
        &__title {
            font-size: 48px;
        }
        &__descr {
            padding-top: 40px;
            font-size: 24px;
            max-width: 450px;
        }
        &__btn {
            margin-top: 140px;
            padding: 22px 55px;
            >span {
                 font-size: 24px;
            }
        }
        &__arrow {
            bottom: 6%;
            img {
                width: 56px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .hero {
        padding-bottom: 70px;
        background-size: 730px;
        background-position: right top 50px;
        .container {
            padding-top: 180px;
        }
         &__img {
             max-width: 500px;
         }
         &__title {
             font-size: 44px;
         }

         &__btn {
             margin-top: 120px;
             >span {
                 font-size: 24px;
             }
         }
        &__arrow {
            bottom: 4%;
            img {
                width: 52px;
            }
        }
    }
}

@media (max-width: 1170px) {
    .hero {
       padding-bottom: 75px;
       background-size: 650px;
       background-position: right top 70px;
       .container {
           padding-top: 160px;
       }
       &__img {
           max-width: 450px;
       }
       &__title {
           font-size: 40px;
       }
       &__descr {
           font-size: 20px;
           max-width: 400px;
       }

       &__btn {
           margin-top: 120px;
           >span {
               font-size: 20px;
           }
           padding: 20px 50px;
       }
       &__arrow {
           bottom: 2%;

           img {
               width: 52px;
           }
       }
    }
}

@media (max-width: 992px) {
    .hero {
        height: 900px;
        background-image: url(../img/hero-figure.webp);
        background-position: right 50px bottom 0px;
        background-size: 500px;
        padding-bottom: 0px;
        .container {
            padding-top: 180px;
            align-items: flex-start;
            flex-direction: column;
            gap: 0px;
        }
        &-img__wrap {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &__img {
            max-width: 400px;
        }
        &__btn {
            margin-top: 90px;
        }
        &__arrow {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .hero {
       height: 850px;
       background-position: right 20px bottom 0px;
       background-size: 450px;
       .container {
           padding-top: 160px;
           gap: 20px;
       }
       &__descr {
           font-size: 18px;
           max-width: 350px;
       }
       &__img {
           max-width: 360px;
       }
       &__btn {
          padding: 18px 45px;
           >span {
               font-size: 20px;
           }
           margin-top: 70px;
       }
    }
}

@media (max-width: 576px) {
    .hero {
        height: 775px;
        background-position: right 0px bottom 20px;
        background-size: 400px;
        .container {
            padding-top: 150px;
            gap: 25px;
        }
        &__img {
            max-width: 320px;
        }
        &__title {
            font-size: 36px;
        }
    }
}

@media (max-width: 480px) {
    .hero {
       height: 700px;
       background-position: right 0px bottom 10px;
       background-size: 350px;
       .container {
           padding-top: 140px;
           gap: 20px;
       }
       &__img {
           max-width: 290px;
       }
       &__title {
           font-size: 32px;
       }
       &__btn {
            padding: 15px 40px;
       }
       &__descr {
           font-size: 16px;
       }
    }
}

@media (max-width: 360px) {
    .hero {
        height: 775px;
        background-position: right 0px bottom 20px;
        background-size: 325px;
    }
}