.skills {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    &__row {
        transform: translateX(30%);
        width: 100%;
        display: inline-block;
        white-space: nowrap;
    }
    &__row:last-child {
        flex-wrap: wrap-reverse;
        margin-top: 35px;
        transform: translateX(-270%);
    }
    &__row:after {
        position: absolute;
        content: ' ';
        right: 0;
        top: 0;
        width: 100px;
        height: 100%;
    }

    &__item {
        pointer-events: none;
        padding: 0 50px;
        height: 90px;
        filter: grayscale(100%);
        opacity: 0.9;
    }
}

@media (max-width: 1680px) {
    .skills {
        padding: 100px 0;
        &__row:last-child {
            margin-top: 30px;
        }
        &__item {
            height: 80px;
            padding: 0 45px;
        }
    }
}

@media (max-width: 1400px) {
    .skills {
        &__item {
            height: 75px;
            padding: 0 40px;
        }
    }
}

@media (max-width: 1170px) {
     .skills {
        padding: 90px 0;
         &__item {
             height: 70px;
             padding: 0 35px;
         }
     }
}

@media (max-width: 992px) {
    .skills {
        padding: 80px 0;
        &__item {
            height: 65px;
            padding: 0 30px;
        }
    }
}

@media (max-width: 768px) {
    .skills {
        padding: 70px 0;
        &__item {
            height: 60px;
        }
    }
}

@media (max-width: 576px) {
    .skills {
        padding: 60px 0;
        &__row {
            transform: translateX(50%);
        }
        &__row:last-child {
            margin-top: 0;
            display: none;
        }
        &__item {
            padding: 0 25px;
        }
    }
}