.works {
    padding: 160px 0;
    .container {
        position: relative;
    }
    &__slider {
        padding-top: 120px;
        width: 100%;
        height: 524px;
    }
    &__slide {
        border-radius: 20px;
        z-index: 1;
        transform: scale(1);
        transition: transform .5s ease;
        .slide__photo {
            border-radius: 20px;
            width: 100%;
            object-fit: cover;
            box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.25);
        }
        .photo__wrap {
            position: relative;
        }
        .photo__wrap::before {
            visibility: hidden;
            content: 'название.ru';
            position: absolute;
            padding: 13px 50px;
            bottom: -15px;
            left: 30%;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            font-weight: 400;
            font-size: 20px;
            color: $text;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    .photo__wrap:hover::before {
        opacity: 1;
        visibility: visible;
    }
    &__next,
    &__prev {
        position: absolute;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        top: 0;
        right: 0;
        opacity: 1;
        transition: opacity .3s;
        img {
             height: 37px;
        }
    }
    &__next:hover,
    &__prev:hover {
        opacity: 0.8;
    }
    &__prev {
        right: 55px;
    }
    .swiper-slide-active {
        transform: scale(1.3) !important;
        z-index: 5;
        transition: transform .5s ease;
        .slide__photo {
             box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        }
    }
    .swiper-pagination-bullet {
        background: #999;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #F07050;
        opacity: 1;
    }
    .swiper-pagination-bullet:hover {
        opacity: 0.7;
        transition: opacity .2s;
    }
}

@media (max-width: 1680px) {
    .works {
        padding: 140px 0;
        &__slider {
            height: 464px;
            padding-top: 120px;
        }
        &__slide {
            .photo__wrap::before {
                padding: 12px 45px;
                left: 26%;
                font-size: 18px;
            }
        }
        &__next,
        &__prev {
           img {
               height: 35px;
           }
        }
        &__prev {
            right: 50px;
        }
    }
}

@media (max-width: 1400px) {
    .works {
        padding: 110px 0;
        &__slider {
            height: 398px;
            padding-top: 100px;
        }
        &__slide {
            .photo__wrap::before {
                padding: 12px 40px;
                left: 25%;
            }
        }
    }
}

@media (max-width: 1170px) {
    .works {
        padding: 100px 0;
        &__slider {
            height: 354px;
            padding-top: 90px;
        }
        &__slide {
            .photo__wrap::before {
                padding: 12px 35px;
                font-size: 16px;
                left: 25%;
            }
        }

        &__prev {
            right: 45px;
        }
        &__next,
        &__prev {
            img {
                height: 32px;
            }
        }
    }
}

@media (max-width: 992px) {
    .works {
        padding: 90px 0;
        &__slider {
            height: 536px;
            padding-top: 70px;
        }
        &__slide {
            border-radius: 20px;
            .slide__photo {
                border-radius: 20px;
            }
            .photo__wrap::before {
                display: none;
            }
        }
        &__next,
        &__prev {
            display: none;
        }
        .swiper-slide-active {
            transform: scale(1) !important;
            .slide__photo {
                box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.25) !important;
            }
            .photo__wrap::before {
                visibility: visible;
                opacity: 1;
                display: block;
                left: 35%;
                bottom: -12px;
                font-size: 20px;
                padding: 12px 40px;
            }
        }
    }
}

@media (max-width: 768px) {
    .works {
        padding: 80px 0;
        &__slider {
            padding-top: 60px;
            height: 412px;
        }
        &__slide {
            border-radius: 18px;
            .slide__photo {
                border-radius: 18px;
                width: 100%;
            }
        }
        .swiper-slide-active {
            .photo__wrap::before {
                left: 31%;
                bottom: -12px;
                font-size: 18px;
                padding: 12px 40px;
            }
        }
    }
}

@media (max-width: 576px) {
    .works {
        padding: 70px 0;
        &__slider {
            padding-top: 50px;
            height: 364px;
        }
        &__slide {
            border-radius: 15px;
            .slide__photo {
                border-radius: 15px;
            }
        }

        .swiper-slide-active {
            .photo__wrap::before {
                left: 30%;
                bottom: -12px;
                font-size: 16px;
                padding: 12px 35px;
            }
        }
    }
}

@media (max-width: 480px) {
    .works {
        padding: 60px 0;
        &__slider {
            padding-top: 40px;
            height: 352px;
        }
        .swiper-slide-active {
            .photo__wrap::before {
                left: 31%;
                padding: 10px 30px;
            }
        }
    }
}

@media (max-width: 450px) {
    .works {
        &__slider {
            height: 344px;
        }

        .swiper-slide-active {
            .photo__wrap::before {
                left: 30%;
            }
        }
    }
}

@media (max-width: 420px) {
    .works {
        &__slider {
            height: 328px;
        }

        .swiper-slide-active {
            .photo__wrap::before {
                left: 29%;
            }
        }
    }
}

@media (max-width: 400px) {
    .works {
        &__slider {
            height: 318px;
        }

        .swiper-slide-active {
            .photo__wrap::before {
                left: 28%;
            }
        }
    }
}

@media (max-width: 380px) {
    .works {
        &__slider {
            height: 306px;
        }
        .swiper-slide-active {
            .photo__wrap::before {
                left: 27%;
            }
        }
    }
}

@media (max-width: 360px) {
    .works {
        &__slider {
            height: 294px;
        }
        .swiper-slide-active {
            .photo__wrap::before {
                left: 26%;
            }
        }
    }
}

@media (max-width: 340px) {
    .works {
        &__slider {
            height: 278px;
        }
        .swiper-slide-active {
            .photo__wrap::before {
                left: 25%;
            }
        }
    }
}