@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
body {
  height: 200vh;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #333333;
  font-weight: 4000;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

.overflow {
  overflow: hidden;
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.burger {
  z-index: 5;
  display: none;
  position: relative;
  border: none;
  background: none;
  height: 20px;
  width: 40px;
  cursor: pointer;
}

.burger-line {
  width: 40px;
  height: 2px;
  background-color: #333;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.top-line {
  position: absolute;
  top: 0;
  right: 0;
}

.mid-line {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.bottom-line {
  position: absolute;
  left: 0;
  bottom: 0;
}

.burger.active > .top-line {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.burger.active > .mid-line {
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.burger.active > .bottom-line {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.btn {
  padding: 18px 60px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  background: #DA142E;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.btn:hover {
  background: #CA152D;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1680px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1170px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 450px;
  }
}
@media (max-width: 480px) {
  .container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  z-index: 11;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo img {
  width: 264px;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}
.header .menu__items {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  list-style-type: none;
}
.header .menu__item {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}
.header .menu__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #111;
  left: 0;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header .menu__item:hover {
  color: #111;
}
.header .menu__item:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.header .menu__github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .menu__github img {
  opacity: 1;
  width: 72px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header .menu__github img:hover {
  opacity: 0.85;
}
.header .menu__btn {
  font-size: 22px;
}
.header .hidden {
  display: none;
}

.mobile {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #DA142E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 120px;
  -webkit-animation: anim 1s ease;
  animation: anim 1s ease;
}
.mobile__items {
  margin: 0;
  padding: 0;
  margin-top: 160px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile__item {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}
.mobile__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  left: 0;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.mobile__item:hover {
  color: #e7e7e7;
}
.mobile__item:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.mobile__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
.mobile__icon {
  -o-object-fit: cover;
  object-fit: cover;
  height: 32px;
}

@media (max-width: 1680px) {
  .header {
    height: 100px;
  }
  .header__logo img {
    width: 232px;
  }
  .header .menu {
    gap: 30px;
  }
  .header .menu__items {
    gap: 30px;
  }
  .header .menu__item {
    font-size: 18px;
  }
  .header .menu__github img {
    width: 56px;
  }
  .header .menu__btn {
    font-size: 20px;
    padding: 15px 55px;
  }
}
@media (max-width: 1400px) {
  .header__logo img {
    width: 212px;
  }
  .header .menu {
    gap: 25px;
  }
  .header .menu__items {
    gap: 25px;
  }
  .header .menu__item {
    font-size: 16px;
  }
  .header .menu__github img {
    width: 48px;
  }
  .header .menu__btn {
    font-size: 18px;
    padding: 15px 50px;
  }
}
@media (max-width: 1170px) {
  .header {
    height: 90px;
  }
  .header__logo img {
    width: 198px;
  }
  .header .menu {
    gap: 30px;
  }
  .header .menu__items {
    gap: 25px;
  }
  .header .menu__item {
    font-size: 16px;
  }
  .header .menu__github {
    display: none;
  }
  .header .menu__btn {
    font-size: 18px;
    padding: 13px 40px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 0 15px;
  }
  .header__logo img {
    width: 188px;
  }
  .header .menu {
    display: none;
  }
  .header .burger {
    display: block;
  }
}
@media (max-width: 768px) {
  .mobile {
    gap: 100px;
  }
  .mobile__items {
    margin-top: 150px;
  }
}
@media (max-width: 576px) {
  .header {
    height: 80px;
  }
  .header__logo img {
    width: 176px;
  }
  .mobile__items {
    margin-top: 140px;
    gap: 40px;
  }
  .mobile__item {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .header__logo img {
    width: 168px;
  }
  .mobile {
    gap: 90px;
  }
  .mobile__items {
    gap: 35px;
  }
}
@media (max-width: 400px) {
  .header__logo img {
    width: 152px;
  }
}
.hero {
  background: #DA142E;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hero .container {
  z-index: 9;
}
.hero__img {
  pointer-events: none;
  position: absolute;
  right: -300px;
  height: 160%;
  z-index: 5;
}
.hero__wrap {
  padding-top: 50px;
}
.hero__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.015em;
  color: #ffffff;
}
.hero__descr {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  max-width: 650px;
  font-weight: 400;
  font-size: 32px;
  line-height: 125.52%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.hero__btn {
  margin-top: 100px;
  color: #333333;
  background: #ffffff;
  font-size: 32px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.hero__btn:hover {
  -webkit-box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.circles {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  z-index: 1;
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media (max-width: 1680px) {
  .hero__img {
    right: -250px;
    height: 150%;
  }
  .hero__title {
    font-size: 48px;
    line-height: 54px;
  }
  .hero__descr {
    max-width: 500px;
    font-size: 24px;
    line-height: 125%;
  }
  .hero__btn {
    margin-top: 80px;
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .hero__img {
    right: -350px;
    height: 150%;
  }
  .hero__descr {
    line-height: 120%;
  }
  .hero__btn {
    padding: 15px 50px;
    margin-top: 60px;
    font-size: 24px;
  }
}
@media (max-width: 1170px) {
  .hero__img {
    right: -250px;
    height: 140%;
  }
  .hero__title {
    font-size: 42px;
    line-height: 50px;
  }
  .hero__descr {
    max-width: 440px;
    font-size: 22px;
  }
  .hero__btn {
    margin-top: 50px;
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .hero {
    background: #DA142E;
  }
  .hero__img {
    display: none;
  }
  .hero__title {
    font-size: 40px;
    line-height: 48px;
  }
  .hero__descr {
    padding-top: 25px;
    max-width: 400px;
    font-size: 20px;
  }
  .hero__btn {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 36px;
    line-height: 42px;
  }
  .hero__descr {
    max-width: 380px;
    font-size: 18px;
  }
  .hero__btn {
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .hero {
    background-size: 150px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 38px;
  }
  .hero__descr {
    max-width: 325px;
    font-size: 16px;
  }
  .hero__btn {
    padding: 13px 40px;
    margin-top: 35px;
  }
}
@media (max-width: 480px) {
  .hero {
    background-image: none;
  }
}
/*# sourceMappingURL=main.css.map */