*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	font-family: $ubuntu;
	font-size: 20px;
	line-height: normal;
	font-style: normal;
	color: $text;
	font-weight: 4000;
}

a {
	text-decoration: none;
	color: inherit;
}

.title {
	font-weight: 500;
	font-size: 52px;
	letter-spacing: 0.02em;
	color: $dark;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 12px;
}
.title::before {
	content: '';
	height: 52px;
	width: 8px;
	background: rgba(246, 89, 1, 0.62);
}

.hidden {
	display: none !important;
}

.overflow {
	overflow: hidden;
}

@keyframes anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.burger {
	z-index: 5;
	display: none;
	position: relative;
	border: none;
	background: none;
	height: 20px;
	width: 40px;
	cursor: pointer;
}

.burger-line {
	width: 40px;
	height: 2px;
	background-color: #333;
	transition: 0.3s all ease;
}

.top-line {
	position: absolute;
	top: 0;
	right: 0;
}

.mid-line {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
}

.bottom-line {
	position: absolute;
	left: 0;
	bottom: 0;
}

.burger.active>.top-line {
	transform: translateY(8px) rotate(45deg);
	transition: 0.3s all ease;
}

.burger.active>.mid-line {
	opacity: 0;
	transition: 0.3s all ease;
}

.burger.active>.bottom-line {
	transform: translateY(-10px) rotate(-45deg);
	transition: 0.3s all ease;
}

.container {
	max-width: 1600px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

@keyframes hope {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0px);
	}
}

@media (max-width: 1680px) {
	.container {
		max-width: 1320px;
	}
	.btn {
		padding: 15px 55px;
	}
	.title {
		font-size: 48px;
	}
	.title::before {
		height: 48px;
	}
}

@media (max-width: 1400px) {
	.container {
		max-width: 1140px;
	}
	.btn {
		padding: 15px 50px;
	}
	.title {
		font-size: 42px;
	}
	.title::before {
		height: 42px;
	}
}

@media (max-width: 1170px) {
	.container {
		max-width: 960px;
	}
	.btn {
		padding: 15px 45px;
	}
	.title {
		gap: 10px;
		font-size: 36px;
	}

	.title::before {
		width: 6px;
		height: 36px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.btn {
		padding: 15px 40px;
	}
	.title {
		gap: 10px;
		font-size: 32px;
	}

	.title::before {
		width: 6px;
		height: 32px;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 450px;
	}
	.title {
		gap: 10px;
		font-size: 28px;
	}

	.title::before {
		width: 6px;
		height: 28px;
	}
}

@media (max-width: 480px) {
	.container {
		box-sizing: border-box;
	}
	.btn {
		padding: 13px 37px;
	}
	.title {
		gap: 10px;
		font-size: 24px;
	}

	.title::before {
		width: 6px;
		height: 24px;
	}
}

@media (max-width: 1680px) {}

@media (max-width: 1400px) {}

@media (max-width: 1170px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 360px) {}